
@{
    ViewData["Title"] = "Estética Salón";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HairSalon</title>
</head>
<body>
</body>
</html>
